$primary: (
  DEFAULT: #F5992A,
  50: #FDEDD9,
  100: #FCE4C6,
  200: #FAD19F,
  300: #F9BE78,
  400: #F7AC51,
  500: #F5992A,
  600: #DD7D0A,
  700: #A75F08,
  800: #714005,
  900: #3C2203,
  950: #211302
);
