$primary: (
  DEFAULT: #f5992a,
  50: #fdedd9,
  100: #fce4c6,
  200: #fad19f,
  300: #f9be78,
  400: #f7ac51,
  500: #f5992a,
  600: #dd7d0a,
  700: #a75f08,
  800: #714005,
  900: #3c2203,
  950: #211302,
);

$dark: (
  DEFAULT: #1B1B1B,
  50: #777777,
  100: #6D6D6D,
  200: #585858,
  300: #444444,
  400: #2F2F2F,
  500: #1B1B1B,
  600: #000000,
);
