@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$orange-palette,
      ),
      density: 0,
    )
  );
}

