/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use 'material';
@use 'colors' as color;

@use 'components/_shake';



a,
button {
  @apply transition ease-in-out font-[Roboto] cursor-pointer;
}
@theme {
  @each $key, $value in color.$primary {
    --color-primary-#{$key}: #{$value};
  }

  @each $key, $value in color.$dark {
    --color-dark-#{$key}: #{$value};
  }
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color-scheme: dark;
  background-color: var(--color-dark-500);
  color: var(--color-white);
  font-weight: 500;
  height: 100%;
}
h1{
  @apply text-2xl font-bold mb-2;
}
h2{
  @apply text-xl font-bold mb-2;
}
