<div class="flex items-end gap-4">
  @for (tab of tabs(); track tab.value) {
    <button
      type="button"
      [class.tabActive]="tab.value === selectedTab()"
      (click)="changeTab(tab.value)"
    >
      {{ tab.name }}
    </button>
  }
</div>
<hr class="border-dark-50" />

<!-- 文章列表 -->
<section>
  <ul>
    @for (article of postsRes()?.articles ?? []; track article.month) {
      <li class="border-b border-dark-50 py-5">
        <h2>{{ article.month | date: 'yyyy 年 M 月' }}</h2>
        <ul class="grid grid-cols-1 gap-2">
          @for (post of article.posts; track post.id) {
            <li class="md:flex item-start gap-10 mt-2">
              <p class="text-dark-50">{{ post.date }}</p>
              <div>
                <h3>
                  <a [routerLink]="[`/${post.postUrl}`]" class="hover:text-primary-500">{{
                    post.title
                  }}</a>
                </h3>
                @if (post.topics) {
                  <span class="text-sm text-dark-300">{{ post.topics }}</span>
                }
              </div>
            </li>
          }
        </ul>
      </li>
    } @empty {
      <li>目前沒有文章...</li>
    }
  </ul>
  <div class="flex justify-end gap-4 mt-5">
    @if (postsRes()?.hasPrevious) {
      <button type="button" (click)="changePage(-1)" class="group">
        <i class="fa-solid fa-arrow-left group-hover:-translate-x-1 transition ease-in mr-2" aria-hidden="true"></i
        >Previous
      </button>
    }
    @if (postsRes()?.hasNext) {
      <button type="button" (click)="changePage(1)" class="group">
        Next<i
          class="fa-solid fa-arrow-right group-hover:translate-x-1 transition ease-in ml-2"
          aria-hidden="true"
        ></i>
      </button>
    }
  </div>
</section>
