<div class="flex items-end gap-4">
  @for (tab of tabs(); track $index) {
    <button
      type="button"
      [class.tabActive]="tab.value === selectedTab()"
      (click)="selectedTab.set(tab.value)"
    >
      {{ tab.name }}
    </button>
  }
</div>
<hr />

<!-- 文章列表 -->
<section>
  <ul>
    @for (article of articles(); track $index) {
      <li>
        <h2 class="text-dark-50">{{ article.month | date: 'yyyy年M月' }}</h2>
        <ul class="grid grid-cols-1 gap-2">
          @for(post of article.posts; track $index){
          <li>
            <p class="text-dark-50">{{ post.date }}</p>
            <div>
              <h3>{{ post.title }}</h3>
              <nav class="flex item-center gap-5">
                @for (tag of post.tags; track $index) {
                  <a [routerLink]="[`/tags/${tag.id}`]" class="tag">{{ tag.name }}</a>
                }
              </nav>
            </div>
          </li>
        }
        </ul>


      </li>
    } @empty {
      <li>目前沒有文章...</li>
    }
  </ul>
</section>
